/* Landing */

.landing-section {
  display: flex;
  justify-content: center;
  height: 25vh;
  align-items: center;
  background-color: #B83737;
}

.jumbotron {
  display: flex;
  font-size: 5vh;
  color: white;
}

/* Downloads */

.download-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.section-title {
  display: flex;
  justify-content: center;
  font-size: 4vh;
  margin-bottom: 2vh;
}
.downloads {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.download {
  display: flex;
  flex-direction: column;
  width: 25vw;
  padding: 2vh;
  margin: 2vh;
  justify-content: center;
  background-color: #323167;
  text-align: center;
  color: white;
  align-items: center;
}

.download div {
  margin: 1vh auto;
}

.download-title {
  font-size: 3vh;
}

.download-content {
  font-size: 2vh;
  height: 5vh;
}

.download img {
  height: 50vh;
}

.download-img {
  height: 52vh;
}

.download a {
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 10vw;
  text-decoration: none;
}

.download a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Links */

.link-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.link {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: #323167;
  padding: 2vh;
  color: white;
  text-align: center;
  justify-content: center;
  margin: 2vh;
}

.link div {
  margin: 2vh auto;
}

.link-title {
  font-size: 3vh;
  height: 10vh;
}

.link a {
  text-decoration: none;
  color: black;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.link-content {
  height: 4vh;
}

.link a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
